button{
    font-Size: 24px;
    text-Align: center;
    margin: 12px auto;
    padding: 18px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 600px;
}